body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#container1 {
    background-color: rgb(0, 102, 255);
    padding-top: 200px;
    padding-bottom: 200px;
}

#container2 {
    background-color: rgb(0, 255, 191);
    padding-top: 200px;
    padding-bottom: 200px;
}

#footer-1 {
    background-color: rgba(0, 128, 128, 0.37);
}

#footer-2 {
    background-color: rgba(216, 191, 216, 0.336);
}

#footer-3 {
    background-color: rgba(0, 128, 128, 0.37);
}

/*footer social media icons*/

.fa-facebook {
    padding: 15px;
    background: #3B5998;
    color: white;
}

.fa-twitter {
    padding: 15px;
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    padding: 15px;
    background: #f40083;
    color: white;
}
