body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#container {
    background-image: url("images/bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}

#container1 {
    background-image: url("images/bg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}
#container1-data{
    background-color: rgba(255, 255, 255, 0.288);
    padding: 100px;

    
}
#container2 {
    background-image: url("images/bg3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}

#container2-data {
    background-color: rgba(255, 255, 255, 0.459);
    padding: 80px;
}

#container3-data{
    padding: 25px;
}
#footer-1{
    padding: 10px;
    background-color: gainsboro;
}
#footer-2{
    padding: 10px;
    background-color: rgb(160, 153, 153);
}
#footer-3{
    padding: 10px;
    background-color: gainsboro;
}
/*footer social media icons*/

.fa-facebook {
    padding: 15px;
    background: #3B5998;
    color: white;
}

.fa-twitter {
    padding: 15px;
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    padding: 15px;
    background: #f40083;
    color: white;
}

